{% extends 'base_admin.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="w-75 mt-5 p-5 bg-white rounded-4 shadow">
             <h1>Edit Category</h1>
            {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('category/_delete_form.html.twig') }}  
        </div>
    </div>
    
{% endblock %}
