{% extends 'base_admin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container py-5">
    <h1 class="mb-4 text-center">Liste des utilisateurs</h1>
    <table id="users-table" class="table table-bordered table-striped nowrap w-100">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Rôles</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('user_list') }}
{% endblock %}
