{% extends 'base_admin.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="w-75 mt-5 p-5 bg-white rounded-4 shadow">
            <h1>Create new Article</h1>
            {{ include('article/_form.html.twig') }}   
        </div>
    </div>
    
    
{% endblock %}
